{
  "openapi": "3.1.0",
  "info": {
    "title": "authn.sh API",
    "version": "0.1.0-pre",
    "summary": "Backend API (BAPI) and Frontend API (FAPI) for authn.sh.",
    "description": "The authn.sh API has two surfaces:\n\n- **BAPI** (Backend API) — server-to-server. Authenticated with a workspace\n  secret key (`sk_test_…` / `sk_live_…`). Lives at `https://api.authn.sh/v1`.\n- **FAPI** (Frontend API) — browser-facing. Identifies a device via the\n  `__client` cookie set on the per-environment FAPI host\n  (`https://{env_slug}.authn.sh/v1`). Cross-origin XHR is enabled for\n  origins listed in the environment's allowlist.\n\nThis document is the source of truth for both surfaces. Every authn.sh SDK\n(`@authn.sh/sdk-js`, `@authn.sh/sdk-react`, `authn/sdk` PHP, …) generates\nits request and response types from the bundled artifact (`dist/openapi.bundled.json`).\n\nThe spec is split across `paths/` and `components/` for review-friendliness;\nthe bundler stitches everything together.\n",
    "license": {
      "name": "AGPL-3.0-only",
      "identifier": "AGPL-3.0-only"
    },
    "contact": {
      "name": "authn.sh",
      "url": "https://authn.sh"
    },
    "termsOfService": "https://authn.sh/terms"
  },
  "servers": [
    {
      "url": "https://api.authn.sh/v1",
      "description": "Production BAPI (workspace-scoped, server-to-server)."
    },
    {
      "url": "https://{env_slug}.authn.sh/v1",
      "description": "Production FAPI (per-environment, browser-facing).",
      "variables": {
        "env_slug": {
          "default": "example",
          "description": "The slug of the environment whose FAPI you're addressing. Each\n`Environment` row gets a unique slug at creation; production envs use\n`<project_slug>`, development envs use `<project_slug>-dev`.\n"
        }
      }
    }
  ],
  "security": [
    {
      "bearer_secret_key": []
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "End-user identities."
    },
    {
      "name": "Email Addresses",
      "description": "User-owned email identifiers and their verification state."
    },
    {
      "name": "Sessions",
      "description": "Live authenticated sessions across devices."
    },
    {
      "name": "Sign-Ins",
      "description": "In-progress sign-in attempts (FAPI state machine)."
    },
    {
      "name": "Sign-Ups",
      "description": "In-progress sign-up attempts (FAPI state machine)."
    },
    {
      "name": "Me",
      "description": "Authenticated end-user's view of themselves (FAPI)."
    },
    {
      "name": "Client",
      "description": "Per-device state container (FAPI)."
    },
    {
      "name": "Environment",
      "description": "Public per-environment configuration consumed at SDK boot (FAPI)."
    },
    {
      "name": "Organizations",
      "description": "Organizations within an environment. Populated in v0.2."
    },
    {
      "name": "Org Memberships",
      "description": "User ↔ organization joins. Populated in v0.2."
    },
    {
      "name": "Org Invitations",
      "description": "Pending invitations to join an organization. Populated in v0.2."
    },
    {
      "name": "Org Domains",
      "description": "Verified domains attached to an organization. Populated in v0.2."
    },
    {
      "name": "Invitations",
      "description": "Application-level (non-organization) invitations."
    },
    {
      "name": "Allowlist Identifiers",
      "description": "Identifier patterns allowed to sign up under restricted mode."
    },
    {
      "name": "Blocklist Identifiers",
      "description": "Identifier patterns refused at sign-up."
    },
    {
      "name": "Redirect URLs",
      "description": "URLs allowed as post-flow redirect targets."
    },
    {
      "name": "Instance",
      "description": "Per-environment settings (`InstanceSetting`)."
    },
    {
      "name": "Webhooks",
      "description": "Webhook endpoints, deliveries, and the event envelope."
    },
    {
      "name": "JWKS / OIDC",
      "description": "Public keys and OIDC discovery served per-environment on the FAPI host."
    }
  ],
  "paths": {
    "/v1/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "description": "Return a paginated list of users in the environment, filtered by\nidentifier and lifecycle predicates.\n",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Sort key prefixed with `+` (ascending, default) or `-` (descending).\nAllowed: `created_at`, `updated_at`, `last_active_at`, `last_sign_in_at`.\n",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "+created_at",
                "-last_active_at"
              ]
            }
          },
          {
            "name": "email_address",
            "in": "query",
            "description": "Filter by email address. Repeat the parameter for OR semantics.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "email"
              }
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "Filter by phone number (E.164). v0.1 always returns an empty\nlist since phone identifiers ship in v0.4.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "Filter by username. Repeat for OR semantics.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter by `User.id`. Repeat for OR semantics.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "description": "Filter by `User.external_id`. Repeat for OR semantics.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Free-text search across email addresses, usernames, first\nname, last name. Case-insensitive substring match.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_active_at_since",
            "in": "query",
            "description": "Unix ms; only return users active at or after this instant.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "created_at_after",
            "in": "query",
            "description": "Unix ms; only return users created strictly after this instant.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "created_at_before",
            "in": "query",
            "description": "Unix ms; only return users created strictly before this instant.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of users.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/User"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "page": {
                    "summary": "First page, two users",
                    "value": {
                      "data": [
                        {
                          "id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                          "object": "user",
                          "external_id": null,
                          "username": "jane",
                          "first_name": "Jane",
                          "last_name": "Doe",
                          "image_url": null,
                          "has_image": false,
                          "primary_email_address_id": "idn_01HKX9SY9V7H7TF8C8K7J9X4ZE",
                          "primary_phone_number_id": null,
                          "email_addresses": [
                            {
                              "id": "idn_01HKX9SY9V7H7TF8C8K7J9X4ZE",
                              "object": "email_address",
                              "email_address": "jane@acme.com",
                              "verification": {
                                "status": "verified",
                                "strategy": "email_code",
                                "attempts": 1,
                                "expire_at": null,
                                "external_verification_redirect_url": null,
                                "nonce": null,
                                "error": null
                              },
                              "linked_to": [],
                              "reserved": false,
                              "created_at": 1714723200000,
                              "updated_at": 1714723260000
                            }
                          ],
                          "phone_numbers": [],
                          "external_accounts": [],
                          "enterprise_accounts": [],
                          "passkeys": [],
                          "password_enabled": true,
                          "two_factor_enabled": false,
                          "totp_enabled": false,
                          "backup_code_enabled": false,
                          "mfa_enabled_at": null,
                          "mfa_disabled_at": null,
                          "banned": false,
                          "locked": false,
                          "lockout_expires_at": null,
                          "last_sign_in_at": 1714809600000,
                          "last_active_at": 1714895999000,
                          "delete_self_enabled": true,
                          "locale": "en-US",
                          "public_metadata": {
                            "plan": "pro"
                          },
                          "private_metadata": {},
                          "unsafe_metadata": {},
                          "created_at": 1714723200000,
                          "updated_at": 1714895999000
                        }
                      ],
                      "total_count": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "operationId": "createUser",
        "summary": "Create a user",
        "description": "Create a `User`. The BAPI is privileged: identifiers passed in\n`email_address[]` are created already verified, and `password`\nbypasses the user-flow verification step. At least one of\n`email_address`, `phone_number`, `username`, or `external_id`\nmust be supplied.\n",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreateRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Create with email + password",
                  "value": {
                    "email_address": [
                      "jane@acme.com"
                    ],
                    "password": "correct horse battery staple",
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "public_metadata": {
                      "plan": "pro"
                    }
                  }
                },
                "migration": {
                  "summary": "Migrate a pre-hashed password",
                  "value": {
                    "external_id": "legacy-user-42",
                    "email_address": [
                      "jane@acme.com"
                    ],
                    "password_digest": "$2a$10$N9qo8uLOickgx2ZMRZoMye…",
                    "password_hasher": "bcrypt",
                    "created_at": 1577836800000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "created": {
                    "summary": "Newly-created user",
                    "value": {
                      "id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                      "object": "user",
                      "external_id": null,
                      "username": null,
                      "first_name": "Jane",
                      "last_name": "Doe",
                      "image_url": null,
                      "has_image": false,
                      "primary_email_address_id": "idn_01HKX9SY9V7H7TF8C8K7J9X4ZE",
                      "primary_phone_number_id": null,
                      "email_addresses": [
                        {
                          "id": "idn_01HKX9SY9V7H7TF8C8K7J9X4ZE",
                          "object": "email_address",
                          "email_address": "jane@acme.com",
                          "verification": {
                            "status": "verified",
                            "strategy": "email_code",
                            "attempts": 0,
                            "expire_at": null,
                            "external_verification_redirect_url": null,
                            "nonce": null,
                            "error": null
                          },
                          "linked_to": [],
                          "reserved": false,
                          "created_at": 1714723200000,
                          "updated_at": 1714723200000
                        }
                      ],
                      "phone_numbers": [],
                      "external_accounts": [],
                      "enterprise_accounts": [],
                      "passkeys": [],
                      "password_enabled": true,
                      "two_factor_enabled": false,
                      "totp_enabled": false,
                      "backup_code_enabled": false,
                      "mfa_enabled_at": null,
                      "mfa_disabled_at": null,
                      "banned": false,
                      "locked": false,
                      "lockout_expires_at": null,
                      "last_sign_in_at": null,
                      "last_active_at": null,
                      "delete_self_enabled": true,
                      "locale": null,
                      "public_metadata": {
                        "plan": "pro"
                      },
                      "private_metadata": {},
                      "unsafe_metadata": {},
                      "created_at": 1714723200000,
                      "updated_at": 1714723200000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/users/count": {
      "get": {
        "operationId": "countUsers",
        "summary": "Count users",
        "description": "Return the total number of users matching the same filter set as\n`listUsers`. Useful for pagination headers and dashboards.\n",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "email_address",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "email"
              }
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_active_at_since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "created_at_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "created_at_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Total count.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "total_count"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "total_count"
                    },
                    "total_count": {
                      "type": "integer",
                      "format": "int64",
                      "minimum": 0
                    }
                  }
                },
                "examples": {
                  "count": {
                    "value": {
                      "object": "total_count",
                      "total_count": 12345
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/v1/users/{user_id}": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "description": "ID of the user.",
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "get": {
        "operationId": "getUser",
        "summary": "Get a user",
        "description": "Fetch a single `User` by ID.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "The user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "user": {
                    "value": {
                      "id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                      "object": "user",
                      "external_id": null,
                      "username": "jane",
                      "first_name": "Jane",
                      "last_name": "Doe",
                      "image_url": null,
                      "has_image": false,
                      "primary_email_address_id": "idn_01HKX9SY9V7H7TF8C8K7J9X4ZE",
                      "primary_phone_number_id": null,
                      "email_addresses": [
                        {
                          "id": "idn_01HKX9SY9V7H7TF8C8K7J9X4ZE",
                          "object": "email_address",
                          "email_address": "jane@acme.com",
                          "verification": {
                            "status": "verified",
                            "strategy": "email_code",
                            "attempts": 1,
                            "expire_at": null,
                            "external_verification_redirect_url": null,
                            "nonce": null,
                            "error": null
                          },
                          "linked_to": [],
                          "reserved": false,
                          "created_at": 1714723200000,
                          "updated_at": 1714723260000
                        }
                      ],
                      "phone_numbers": [],
                      "external_accounts": [],
                      "enterprise_accounts": [],
                      "passkeys": [],
                      "password_enabled": true,
                      "two_factor_enabled": false,
                      "totp_enabled": false,
                      "backup_code_enabled": false,
                      "mfa_enabled_at": null,
                      "mfa_disabled_at": null,
                      "banned": false,
                      "locked": false,
                      "lockout_expires_at": null,
                      "last_sign_in_at": 1714809600000,
                      "last_active_at": 1714895999000,
                      "delete_self_enabled": true,
                      "locale": "en-US",
                      "public_metadata": {
                        "plan": "pro"
                      },
                      "private_metadata": {},
                      "unsafe_metadata": {},
                      "created_at": 1714723200000,
                      "updated_at": 1714895999000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "patch": {
        "operationId": "updateUser",
        "summary": "Update a user",
        "description": "Partial update. Only the fields you send are touched; nullable\nfields can be cleared by sending `null`.\n",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRequest"
              },
              "examples": {
                "rename": {
                  "summary": "Rename + update public metadata",
                  "value": {
                    "first_name": "Janet",
                    "public_metadata": {
                      "plan": "enterprise"
                    }
                  }
                },
                "rotate_password": {
                  "summary": "Force a password rotation and revoke other sessions",
                  "value": {
                    "password": "tr0ub4dor &3",
                    "sign_out_of_other_sessions": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete a user",
        "description": "Permanently delete the user, all their identifiers, sessions, and\nmetadata. Emits `user.deleted`.\n",
        "tags": [
          "Users"
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/users/{user_id}/ban": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "banUser",
        "summary": "Ban a user",
        "description": "Permanently block a user from authenticating. Existing sessions are\nrevoked. Idempotent: banning an already-banned user is a no-op.\n",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "The banned user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/users/{user_id}/unban": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "unbanUser",
        "summary": "Unban a user",
        "description": "Lift a previous ban. Idempotent: unbanning a non-banned user is a no-op.\n",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "The unbanned user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/users/{user_id}/lock": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "lockUser",
        "summary": "Lock a user",
        "description": "Temporarily prevent the user from authenticating. Honors the\nenvironment-level `max_lockout_duration` setting.\n",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "The locked user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/users/{user_id}/unlock": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "unlockUser",
        "summary": "Unlock a user",
        "description": "Lift a temporary lockout. Idempotent.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "The unlocked user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/users/{user_id}/profile_image": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "uploadUserProfileImage",
        "summary": "Upload a profile image",
        "description": "Upload a new profile image for the user. Replaces the existing\nimage, if any. Maximum 10 MiB; allowed content types: `image/png`,\n`image/jpeg`, `image/webp`, `image/gif`.\n",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "additionalProperties": false,
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Raw image bytes."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user with the new `image_url` populated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "description": "Image larger than the per-environment limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported image content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteUserProfileImage",
        "summary": "Delete a profile image",
        "description": "Remove the profile image and clear `image_url`. Idempotent.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "The user with `image_url = null`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/users/{user_id}/metadata": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "patch": {
        "operationId": "updateUserMetadata",
        "summary": "Patch user metadata",
        "description": "Shallow-merge the supplied metadata buckets into the user. To clear\na key, send it with `null`. Top-level buckets you don't include are\nleft untouched.\n",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "public_metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  },
                  "private_metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  },
                  "unsafe_metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                }
              },
              "examples": {
                "set_plan": {
                  "summary": "Promote the user to the enterprise plan",
                  "value": {
                    "public_metadata": {
                      "plan": "enterprise"
                    },
                    "private_metadata": {
                      "stripe_customer_id": "cus_XXXXX"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user with merged metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/v1/users/{user_id}/verify_password": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "verifyPassword",
        "summary": "Verify a user's password",
        "description": "Server-side password check. Returns `200 { verified: true }` on\nmatch, `200 { verified: false }` on mismatch. Subject to the\nstandard rate-limit bucket; repeated mismatches eventually return\n`429`.\n",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "additionalProperties": false,
                "properties": {
                  "password": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              },
              "examples": {
                "basic": {
                  "value": {
                    "password": "correct horse battery staple"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "verified"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "verified": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "ok": {
                    "value": {
                      "verified": true
                    }
                  },
                  "wrong": {
                    "value": {
                      "verified": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/email_addresses": {
      "post": {
        "operationId": "createEmailAddress",
        "summary": "Create an email address",
        "description": "Attach a new email address to a user. By default the address is\ncreated unverified and a verification challenge is issued (email\ncode). Pass `verified: true` to skip the challenge — the BAPI is\nprivileged.\n",
        "tags": [
          "Email Addresses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailAddressCreateRequest"
              },
              "examples": {
                "self_serve": {
                  "summary": "Add an unverified address (issues a code)",
                  "value": {
                    "user_id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                    "email_address": "jane.alt@acme.com"
                  }
                },
                "server_verified": {
                  "summary": "Add an already-verified address and make it primary",
                  "value": {
                    "user_id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                    "email_address": "jane@acme.com",
                    "verified": true,
                    "primary": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Email address created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailAddress"
                },
                "examples": {
                  "unverified": {
                    "value": {
                      "id": "idn_01HKX9SY9V7H7TF8C8K7J9X4ZE",
                      "object": "email_address",
                      "email_address": "jane.alt@acme.com",
                      "verification": {
                        "status": "unverified",
                        "strategy": "email_code",
                        "attempts": 0,
                        "expire_at": 1714724000000,
                        "external_verification_redirect_url": null,
                        "nonce": null,
                        "error": null
                      },
                      "linked_to": [],
                      "reserved": false,
                      "created_at": 1714723200000,
                      "updated_at": 1714723200000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/email_addresses/{email_address_id}": {
      "parameters": [
        {
          "name": "email_address_id",
          "in": "path",
          "required": true,
          "description": "ID of the email address.",
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "get": {
        "operationId": "getEmailAddress",
        "summary": "Get an email address",
        "description": "Fetch a single `EmailAddress` by ID.",
        "tags": [
          "Email Addresses"
        ],
        "responses": {
          "200": {
            "description": "The email address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailAddress"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateEmailAddress",
        "summary": "Update an email address",
        "description": "Mark the address verified server-side or promote it to the user's\nprimary address. Sending an empty body is a no-op.\n",
        "tags": [
          "Email Addresses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailAddressUpdateRequest"
              },
              "examples": {
                "promote": {
                  "summary": "Mark verified and make primary",
                  "value": {
                    "verified": true,
                    "primary": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated email address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailAddress"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "deleteEmailAddress",
        "summary": "Delete an email address",
        "description": "Permanently remove the address from the user. The owning user must\nhave at least one other identifier remaining; deleting the only\nidentifier returns `422`.\n",
        "tags": [
          "Email Addresses"
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/v1/sessions": {
      "get": {
        "operationId": "listSessions",
        "summary": "List sessions (BAPI)",
        "description": "Paginated list of every session in the environment. The BAPI view\nis privileged and unscoped to a particular `Client` — use the\n`client_id`, `user_id`, and `status` filters to narrow.\n",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "active",
                "expired",
                "ended",
                "removed",
                "replaced",
                "revoked",
                "abandoned"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Session"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "for_user": {
                    "summary": "Every active session for one user",
                    "value": {
                      "data": [
                        {
                          "id": "sess_01HKX9SY9V7H7TF8C8K7J9X4ZC",
                          "object": "session",
                          "client_id": "clt_01HKX9SY9V7H7TF8C8K7J9X4ZA",
                          "user_id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                          "status": "active",
                          "last_active_at": 1714895999000,
                          "last_active_organization_id": null,
                          "expire_at": 1717487999000,
                          "abandon_at": 1717487999000,
                          "actor": null,
                          "latest_activity": {
                            "id": "sa_01HKX9SY9V7H7TF8C8K7J9X4ZF",
                            "object": "session_activity",
                            "device_type": "desktop",
                            "is_mobile": false,
                            "browser_name": "Chrome",
                            "browser_version": "124.0",
                            "ip_address": "203.0.113.0",
                            "city": "Berlin",
                            "country": "DE"
                          },
                          "created_at": 1714723200000,
                          "updated_at": 1714895999000
                        }
                      ],
                      "total_count": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/v1/sessions/{session_id}": {
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "get": {
        "operationId": "getSession",
        "summary": "Get a session (BAPI)",
        "description": "Fetch one `Session` by ID, irrespective of which `Client` it belongs to.",
        "tags": [
          "Sessions"
        ],
        "responses": {
          "200": {
            "description": "The session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/sessions/{session_id}/revoke": {
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "revokeSession",
        "summary": "Revoke a session (BAPI)",
        "description": "Admin-side revocation. Marks the session `revoked` and immediately\ninvalidates its tokens. Idempotent.\n",
        "tags": [
          "Sessions"
        ],
        "responses": {
          "200": {
            "description": "The revoked session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                },
                "examples": {
                  "revoked": {
                    "value": {
                      "id": "sess_01HKX9SY9V7H7TF8C8K7J9X4ZC",
                      "object": "session",
                      "client_id": "clt_01HKX9SY9V7H7TF8C8K7J9X4ZA",
                      "user_id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                      "status": "revoked",
                      "last_active_at": 1714895999000,
                      "last_active_organization_id": null,
                      "expire_at": 1717487999000,
                      "abandon_at": 1717487999000,
                      "actor": null,
                      "latest_activity": {
                        "id": "sa_01HKX9SY9V7H7TF8C8K7J9X4ZF",
                        "object": "session_activity",
                        "device_type": "desktop",
                        "is_mobile": false,
                        "browser_name": "Chrome",
                        "browser_version": "124.0",
                        "ip_address": "203.0.113.0",
                        "city": "Berlin",
                        "country": "DE"
                      },
                      "created_at": 1714723200000,
                      "updated_at": 1714896500000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/sessions/{session_id}/tokens": {
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "getSessionToken",
        "summary": "Mint a session JWT (BAPI)",
        "description": "Admin-side JWT mint. Same shape as the FAPI variant\n(`getClientSessionToken`) but BAPI-secured: useful for server-side\nrendering pipelines that need to forward a token to a downstream\nservice on behalf of a user.\n",
        "tags": [
          "Sessions"
        ],
        "responses": {
          "200": {
            "description": "The minted token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "jwt"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "token"
                    },
                    "jwt": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "token": {
                    "value": {
                      "object": "token",
                      "jwt": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImpfMTIifQ.eyJzdWIiOiJ1c2VyXzE…"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/sessions/{session_id}/tokens/{template_name}": {
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        },
        {
          "name": "template_name",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{1,64}$"
          }
        }
      ],
      "post": {
        "operationId": "getSessionTokenWithTemplate",
        "summary": "Mint a session JWT with a custom template (BAPI, v0.7)",
        "description": "Admin-side templated token mint. Always returns\n`404 jwt_template_not_found` in v0.1; the templating layer ships in\nv0.7 alongside the IdP role.\n",
        "tags": [
          "Sessions"
        ],
        "responses": {
          "200": {
            "description": "The minted token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "jwt"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "token"
                    },
                    "jwt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/environment": {
      "get": {
        "operationId": "getEnvironment",
        "summary": "Get environment bootstrap config",
        "description": "Public, unauthenticated. Returned at SDK boot to drive flow rendering,\nbranding, and locale selection. Cacheable for ~30 seconds.\n",
        "tags": [
          "Environment"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Environment configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/client": {
      "get": {
        "operationId": "getClient",
        "summary": "Get the current client",
        "description": "Returns the device-scoped `Client`. Lazily creates one and sets the\n`__client` cookie if the request didn't already carry one.\n",
        "tags": [
          "Client"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The current client.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "createClient",
        "summary": "Create / re-create the current client",
        "description": "Force a fresh `Client` and `__client` cookie. Used by the SDK after\na sign-out-everywhere to obtain a clean device identity.\n",
        "tags": [
          "Client"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "The freshly-issued client, wrapped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "destroyClient",
        "summary": "Destroy the current client",
        "description": "Revokes every session on this device and clears the `__client`\ncookie. The next request gets a fresh client via `GET /v1/client`.\n",
        "tags": [
          "Client"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation envelope (response is the destroyed client).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/client/handshake": {
      "get": {
        "operationId": "clientHandshake",
        "summary": "Server-side handshake",
        "description": "SSR handshake endpoint. The server-side renderer calls this with the\nincoming request's cookies; the response carries the\n`Set-Cookie: __client=…` header so the SSR proxy can set it on the\noutgoing HTML response.\n",
        "tags": [
          "Client"
        ],
        "security": [],
        "parameters": [
          {
            "name": "redirect_url",
            "in": "query",
            "description": "Caller URL the SDK should bounce back to after the handshake.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Handshake confirmation. Carries the `Set-Cookie: __client=…`\nheader.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "object",
                    "redirect_url"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "client_handshake"
                    },
                    "redirect_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/client/sign_ins": {
      "post": {
        "operationId": "createSignIn",
        "summary": "Create a sign-in attempt",
        "description": "Start a sign-in flow. The caller may supply only the identifier (in\nwhich case the response carries `supported_first_factors` so the\nSDK can pick one), or supply an identifier + strategy (and password\nwhen applicable) to fold the first attempt into the create call.\n",
        "tags": [
          "Sign-Ins"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Email, phone (E.164), or username."
                  },
                  "strategy": {
                    "type": "string",
                    "enum": [
                      "password",
                      "email_code",
                      "reset_password_email_code",
                      "ticket"
                    ]
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1
                  },
                  "redirect_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Used by strategies that need a callback URL."
                  },
                  "ticket": {
                    "type": "string",
                    "description": "Single-use ticket from an invitation or magic link."
                  },
                  "transfer": {
                    "type": "boolean",
                    "default": false
                  },
                  "captcha_token": {
                    "type": "string"
                  },
                  "captcha_widget_type": {
                    "type": "string",
                    "enum": [
                      "smart",
                      "invisible",
                      "managed"
                    ]
                  },
                  "captcha_error": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "identify_only": {
                  "summary": "Identify and let the SDK pick the next factor",
                  "value": {
                    "identifier": "jane@acme.com"
                  }
                },
                "password_first_attempt": {
                  "summary": "Identify + first-factor password in one call",
                  "value": {
                    "identifier": "jane@acme.com",
                    "strategy": "password",
                    "password": "correct horse battery staple"
                  }
                },
                "email_code": {
                  "summary": "Identify + start an email code",
                  "value": {
                    "identifier": "jane@acme.com",
                    "strategy": "email_code"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New (or transitioned) sign-in attempt, wrapped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/client/sign_ins/{sign_in_id}": {
      "parameters": [
        {
          "name": "sign_in_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "get": {
        "operationId": "getSignIn",
        "summary": "Get a sign-in attempt",
        "description": "Fetch the current state of an in-progress sign-in attempt by ID.",
        "tags": [
          "Sign-Ins"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "The sign-in attempt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignIn"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/client/sign_ins/{sign_in_id}/prepare_first_factor": {
      "parameters": [
        {
          "name": "sign_in_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "prepareFirstFactor",
        "summary": "Prepare first-factor verification",
        "description": "Issue a first-factor challenge (e.g. send the email code) without\nyet evaluating an answer. The next step is `attempt_first_factor`.\n",
        "tags": [
          "Sign-Ins"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "strategy"
                ],
                "additionalProperties": false,
                "properties": {
                  "strategy": {
                    "type": "string",
                    "enum": [
                      "email_code",
                      "reset_password_email_code"
                    ]
                  },
                  "email_address_id": {
                    "type": "string"
                  },
                  "phone_number_id": {
                    "type": "string"
                  },
                  "redirect_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              },
              "examples": {
                "email_code": {
                  "value": {
                    "strategy": "email_code",
                    "email_address_id": "idn_01HKX9SY9V7H7TF8C8K7J9X4ZE"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sign-in with the new `first_factor_verification`, wrapped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/client/sign_ins/{sign_in_id}/attempt_first_factor": {
      "parameters": [
        {
          "name": "sign_in_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "attemptFirstFactor",
        "summary": "Attempt first-factor verification",
        "description": "Submit the user's answer to the first-factor challenge. Strategies:\n\n- `password` — body `{strategy: \"password\", password: \"…\"}`.\n- `email_code` — body `{strategy: \"email_code\", code: \"123456\"}`.\n- `reset_password_email_code` — body\n  `{strategy: \"reset_password_email_code\", code: \"…\"}` — on success\n  the sign-in transitions to `needs_new_password`.\n- `ticket` — body `{strategy: \"ticket\", ticket: \"…\"}`.\n",
        "tags": [
          "Sign-Ins"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "strategy"
                ],
                "additionalProperties": false,
                "properties": {
                  "strategy": {
                    "type": "string",
                    "enum": [
                      "password",
                      "email_code",
                      "reset_password_email_code",
                      "ticket"
                    ]
                  },
                  "password": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  },
                  "ticket": {
                    "type": "string"
                  },
                  "signature": {
                    "type": "string",
                    "description": "Reserved for v0.5 (passkey)."
                  }
                }
              },
              "examples": {
                "password": {
                  "value": {
                    "strategy": "password",
                    "password": "correct horse battery staple"
                  }
                },
                "email_code": {
                  "value": {
                    "strategy": "email_code",
                    "code": "542178"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sign-in transitioned (possibly to `complete`), wrapped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/client/sign_ins/{sign_in_id}/prepare_second_factor": {
      "parameters": [
        {
          "name": "sign_in_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "prepareSecondFactor",
        "summary": "Prepare second-factor verification (v0.3+)",
        "description": "Placeholder. v0.1 always returns `422 mfa_not_enabled`. The full\nsurface ships in v0.3.\n",
        "tags": [
          "Sign-Ins"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "strategy"
                ],
                "additionalProperties": true,
                "properties": {
                  "strategy": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sign-in with the new `second_factor_verification`, wrapped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponseEnvelope"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/v1/client/sign_ins/{sign_in_id}/attempt_second_factor": {
      "parameters": [
        {
          "name": "sign_in_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "attemptSecondFactor",
        "summary": "Attempt second-factor verification (v0.3+)",
        "description": "Placeholder. v0.1 always returns `422 mfa_not_enabled`. The full\nsurface ships in v0.3.\n",
        "tags": [
          "Sign-Ins"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "strategy"
                ],
                "additionalProperties": true,
                "properties": {
                  "strategy": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sign-in transitioned, wrapped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponseEnvelope"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/v1/client/sign_ins/{sign_in_id}/reset_password": {
      "parameters": [
        {
          "name": "sign_in_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "resetPassword",
        "summary": "Reset password during sign-in",
        "description": "Called after `attemptFirstFactor` with `reset_password_email_code`\nsucceeded — i.e. the sign-in is in `needs_new_password`. Sets the\nnew password, then transitions the sign-in to `complete`. When\n`sign_out_of_other_sessions: true`, every other active session for\nthe user is revoked.\n",
        "tags": [
          "Sign-Ins"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "additionalProperties": false,
                "properties": {
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "sign_out_of_other_sessions": {
                    "type": "boolean",
                    "default": true
                  }
                }
              },
              "examples": {
                "basic": {
                  "value": {
                    "password": "tr0ub4dor &3",
                    "sign_out_of_other_sessions": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The completed sign-in, wrapped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/v1/client/sign_ups": {
      "post": {
        "operationId": "createSignUp",
        "summary": "Create a sign-up attempt",
        "description": "Start a sign-up flow. Any subset of the supported fields may be\nsupplied; whatever's missing is reported in the response's\n`missing_fields[]`.\n",
        "tags": [
          "Sign-Ups"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "email_address": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone_number": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "unsafe_metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  },
                  "redirect_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "ticket": {
                    "type": "string"
                  },
                  "transfer": {
                    "type": "boolean",
                    "default": false
                  },
                  "legal_accepted": {
                    "type": "boolean"
                  },
                  "captcha_token": {
                    "type": "string"
                  },
                  "captcha_widget_type": {
                    "type": "string",
                    "enum": [
                      "smart",
                      "invisible",
                      "managed"
                    ]
                  },
                  "captcha_error": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "email_password": {
                  "summary": "Email + password sign-up",
                  "value": {
                    "email_address": "jane@acme.com",
                    "password": "correct horse battery staple",
                    "first_name": "Jane",
                    "last_name": "Doe"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new sign-up attempt, wrapped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/client/sign_ups/{sign_up_id}": {
      "parameters": [
        {
          "name": "sign_up_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "get": {
        "operationId": "getSignUp",
        "summary": "Get a sign-up attempt",
        "description": "Fetch the current state of an in-progress sign-up attempt by ID.",
        "tags": [
          "Sign-Ups"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "The sign-up attempt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignUp"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateSignUp",
        "summary": "Patch missing sign-up fields",
        "description": "Fill in fields that were missing in the create call. Sending the\nsame field twice transparently overwrites the previous value.\n",
        "tags": [
          "Sign-Ups"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "email_address": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone_number": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "unsafe_metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  },
                  "legal_accepted": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transitioned sign-up, wrapped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/v1/client/sign_ups/{sign_up_id}/prepare_verification": {
      "parameters": [
        {
          "name": "sign_up_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "prepareVerification",
        "summary": "Prepare sign-up verification",
        "description": "Issue a verification challenge for one of the unverified attributes\non the sign-up (e.g. send the email code). v0.1 supports\n`email_code`.\n",
        "tags": [
          "Sign-Ups"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "strategy"
                ],
                "additionalProperties": false,
                "properties": {
                  "strategy": {
                    "type": "string",
                    "enum": [
                      "email_code"
                    ]
                  },
                  "redirect_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              },
              "examples": {
                "email_code": {
                  "value": {
                    "strategy": "email_code"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sign-up with the new verification populated, wrapped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/client/sign_ups/{sign_up_id}/attempt_verification": {
      "parameters": [
        {
          "name": "sign_up_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "attemptVerification",
        "summary": "Attempt sign-up verification",
        "description": "Submit the user's answer to a sign-up challenge (the email code in\nv0.1). On success the matching attribute moves out of\n`unverified_fields` and — if no other requirements remain — the\nsign-up transitions to `complete` (sets `created_user_id` and\n`created_session_id`).\n",
        "tags": [
          "Sign-Ups"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "strategy"
                ],
                "additionalProperties": false,
                "properties": {
                  "strategy": {
                    "type": "string",
                    "enum": [
                      "email_code"
                    ]
                  },
                  "code": {
                    "type": "string"
                  },
                  "signature": {
                    "type": "string",
                    "description": "Reserved for v0.5 (passkey)."
                  }
                }
              },
              "examples": {
                "email_code": {
                  "value": {
                    "strategy": "email_code",
                    "code": "542178"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sign-up transitioned (possibly to `complete`), wrapped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/client/sessions/{session_id}": {
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "get": {
        "operationId": "getClientSession",
        "summary": "Get a session",
        "description": "Fetch a single `Session` by ID; returns the current status, expiry, and last activity.",
        "tags": [
          "Sessions"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "The session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                },
                "examples": {
                  "active": {
                    "value": {
                      "id": "sess_01HKX9SY9V7H7TF8C8K7J9X4ZC",
                      "object": "session",
                      "client_id": "clt_01HKX9SY9V7H7TF8C8K7J9X4ZA",
                      "user_id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                      "status": "active",
                      "last_active_at": 1714895999000,
                      "last_active_organization_id": null,
                      "expire_at": 1717487999000,
                      "abandon_at": 1717487999000,
                      "actor": null,
                      "latest_activity": {
                        "id": "sa_01HKX9SY9V7H7TF8C8K7J9X4ZF",
                        "object": "session_activity",
                        "device_type": "desktop",
                        "is_mobile": false,
                        "browser_name": "Chrome",
                        "browser_version": "124.0",
                        "ip_address": "203.0.113.0",
                        "city": "Berlin",
                        "country": "DE"
                      },
                      "created_at": 1714723200000,
                      "updated_at": 1714895999000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/client/sessions/{session_id}/end": {
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "endClientSession",
        "summary": "End a session (sign out on this device)",
        "description": "Marks the session `ended` and invalidates its tokens. The session\nstays in `Client.sessions[]` for ~1 minute so the SDK can finish\nflushing analytics, then drops out.\n",
        "tags": [
          "Sessions"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "The ended session, wrapped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/client/sessions/{session_id}/remove": {
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "removeClientSession",
        "summary": "Remove a session immediately",
        "description": "Like `end`, but drops the session from `Client.sessions[]` straight\naway. Used when the SDK wants to forget about it (e.g. user clicked\n\"Remove this device\" in the user profile).\n",
        "tags": [
          "Sessions"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "The removed session, wrapped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/client/sessions/{session_id}/touch": {
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "touchClientSession",
        "summary": "Touch a session",
        "description": "Update `last_active_at` and (optionally) the active organization.\nThe SDK calls this on every page view so the dashboard \"active\nsessions\" view is fresh.\n",
        "tags": [
          "Sessions"
        ],
        "security": [
          {
            "client_cookie": []
          },
          {
            "dev_browser_jwt": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "active_organization_id": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Switch the active organization. Always `null` in v0.1\nsince organizations land in v0.2.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The touched session, wrapped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/client/sessions/{session_id}/tokens": {
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "getClientSessionToken",
        "summary": "Mint a session JWT",
        "description": "Mint a short-lived RS256 JWT for the session. Use the templated\nsibling endpoint (`/tokens/{template_name}`) once JWT templates\nship in v0.7.\n",
        "tags": [
          "Sessions"
[...]
