{
  "openapi": "3.1.0",
  "info": {
    "title": "authn.sh BAPI",
    "version": "0.1.0-pre",
    "summary": "Backend API (server-to-server) for authn.sh.",
    "description": "The **BAPI** is the server-to-server admin surface. Authenticated\nwith a workspace secret key (`sk_test_…` / `sk_live_…`), it lives\nat `https://api.authn.sh/v1` and handles every operation that\nrequires elevated privileges — creating/banning users, minting\ninvitations, managing organizations, configuring webhooks,\nrotating signing keys, etc.\n\nThe browser-facing surface (FAPI) is documented separately in\n[`fapi.yaml`](./fapi.yaml). The two surfaces share the\n`components/` directory but have distinct paths, security\nschemes, and SDK consumers.\n\nSDKs that consume this surface include `@authn-sh/sdk-php` and\nthe BAPI half of any future server-side SDK. They generate\nrequest/response types from `dist/bapi.bundled.json`.\n",
    "license": {
      "name": "AGPL-3.0-only",
      "identifier": "AGPL-3.0-only"
    },
    "contact": {
      "name": "authn.sh",
      "url": "https://authn.sh"
    },
    "termsOfService": "https://authn.sh/terms"
  },
  "servers": [
    {
      "url": "https://api.authn.sh/v1",
      "description": "Production BAPI (workspace-scoped, server-to-server)."
    }
  ],
  "security": [
    {
      "bearer_secret_key": []
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "End-user identities."
    },
    {
      "name": "Email Addresses",
      "description": "User-owned email identifiers and their verification state."
    },
    {
      "name": "Sessions",
      "description": "Live authenticated sessions across devices (admin view)."
    },
    {
      "name": "Organizations",
      "description": "Organizations within an environment."
    },
    {
      "name": "Org Memberships",
      "description": "User ↔ organization joins."
    },
    {
      "name": "Org Invitations",
      "description": "Pending invitations to join an organization."
    },
    {
      "name": "Org Domains",
      "description": "Verified domains attached to an organization."
    },
    {
      "name": "Roles",
      "description": "Custom and system roles, scoped per environment."
    },
    {
      "name": "Permissions",
      "description": "System permissions catalog (and custom permissions, post-v0.2)."
    },
    {
      "name": "Invitations",
      "description": "Application-level (non-organization) invitations."
    },
    {
      "name": "Allowlist Identifiers",
      "description": "Identifier patterns allowed to sign up under restricted mode."
    },
    {
      "name": "Blocklist Identifiers",
      "description": "Identifier patterns refused at sign-up."
    },
    {
      "name": "Redirect URLs",
      "description": "URLs allowed as post-flow redirect targets."
    },
    {
      "name": "Instance",
      "description": "Per-environment settings (`InstanceSetting`)."
    },
    {
      "name": "OAuth Providers",
      "description": "Per-environment social-IdP configuration (`OauthProvider`)."
    },
    {
      "name": "SMS Templates",
      "description": "Per-environment outbound SMS body customization (`SmsTemplate`)."
    },
    {
      "name": "Webhooks",
      "description": "Webhook endpoints, deliveries, and the event envelope."
    }
  ],
  "paths": {
    "/v1/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "description": "Return a paginated list of users in the environment, filtered by\nidentifier and lifecycle predicates.\n",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Sort key prefixed with `+` (ascending, default) or `-` (descending).\nAllowed: `created_at`, `updated_at`, `last_active_at`, `last_sign_in_at`.\n",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "+created_at",
                "-last_active_at"
              ]
            }
          },
          {
            "name": "email_address",
            "in": "query",
            "description": "Filter by email address. Repeat the parameter for OR semantics.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "email"
              }
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "Filter by phone number (E.164). v0.1 always returns an empty\nlist since phone identifiers ship in v0.4.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "Filter by username. Repeat for OR semantics.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter by `User.id`. Repeat for OR semantics.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "description": "Filter by `User.external_id`. Repeat for OR semantics.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Free-text search across email addresses, usernames, first\nname, last name. Case-insensitive substring match.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_active_at_since",
            "in": "query",
            "description": "Unix ms; only return users active at or after this instant.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "created_at_after",
            "in": "query",
            "description": "Unix ms; only return users created strictly after this instant.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "created_at_before",
            "in": "query",
            "description": "Unix ms; only return users created strictly before this instant.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of users.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/User"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "page": {
                    "summary": "First page, two users",
                    "value": {
                      "data": [
                        {
                          "id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                          "object": "user",
                          "external_id": null,
                          "username": "jane",
                          "first_name": "Jane",
                          "last_name": "Doe",
                          "image_url": null,
                          "has_image": false,
                          "primary_email_address_id": "idn_01HKX9SY9V7H7TF8C8K7J9X4ZE",
                          "primary_phone_number_id": null,
                          "email_addresses": [
                            {
                              "id": "idn_01HKX9SY9V7H7TF8C8K7J9X4ZE",
                              "object": "email_address",
                              "email_address": "jane@acme.com",
                              "verified": true,
                              "current_challenge_id": null,
                              "linked_to": [],
                              "reserved": false,
                              "created_at": 1714723200000,
                              "updated_at": 1714723260000
                            }
                          ],
                          "phone_numbers": [],
                          "external_accounts": [],
                          "enterprise_accounts": [],
                          "passkeys": [],
                          "password_enabled": true,
                          "two_factor_enabled": false,
                          "totp_enabled": false,
                          "backup_code_enabled": false,
                          "mfa_enabled_at": null,
                          "mfa_disabled_at": null,
                          "banned": false,
                          "locked": false,
                          "lockout_expires_at": null,
                          "last_sign_in_at": 1714809600000,
                          "last_active_at": 1714895999000,
                          "delete_self_enabled": true,
                          "locale": "en-US",
                          "public_metadata": {
                            "plan": "pro"
                          },
                          "private_metadata": {},
                          "unsafe_metadata": {},
                          "created_at": 1714723200000,
                          "updated_at": 1714895999000
                        }
                      ],
                      "total_count": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "operationId": "createUser",
        "summary": "Create a user",
        "description": "Create a `User`. The BAPI is privileged: identifiers passed in\n`email_address[]` are created already verified, and `password`\nbypasses the user-flow verification step. At least one of\n`email_address`, `phone_number`, `username`, or `external_id`\nmust be supplied.\n",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreateRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Create with email + password",
                  "value": {
                    "email_address": [
                      "jane@acme.com"
                    ],
                    "password": "correct horse battery staple",
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "public_metadata": {
                      "plan": "pro"
                    }
                  }
                },
                "migration": {
                  "summary": "Migrate a pre-hashed password",
                  "value": {
                    "external_id": "legacy-user-42",
                    "email_address": [
                      "jane@acme.com"
                    ],
                    "password_digest": "$2a$10$N9qo8uLOickgx2ZMRZoMye…",
                    "password_hasher": "bcrypt",
                    "created_at": 1577836800000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "created": {
                    "summary": "Newly-created user",
                    "value": {
                      "id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                      "object": "user",
                      "external_id": null,
                      "username": null,
                      "first_name": "Jane",
                      "last_name": "Doe",
                      "image_url": null,
                      "has_image": false,
                      "primary_email_address_id": "idn_01HKX9SY9V7H7TF8C8K7J9X4ZE",
                      "primary_phone_number_id": null,
                      "email_addresses": [
                        {
                          "id": "idn_01HKX9SY9V7H7TF8C8K7J9X4ZE",
                          "object": "email_address",
                          "email_address": "jane@acme.com",
                          "verified": true,
                          "current_challenge_id": null,
                          "linked_to": [],
                          "reserved": false,
                          "created_at": 1714723200000,
                          "updated_at": 1714723200000
                        }
                      ],
                      "phone_numbers": [],
                      "external_accounts": [],
                      "enterprise_accounts": [],
                      "passkeys": [],
                      "password_enabled": true,
                      "two_factor_enabled": false,
                      "totp_enabled": false,
                      "backup_code_enabled": false,
                      "mfa_enabled_at": null,
                      "mfa_disabled_at": null,
                      "banned": false,
                      "locked": false,
                      "lockout_expires_at": null,
                      "last_sign_in_at": null,
                      "last_active_at": null,
                      "delete_self_enabled": true,
                      "locale": null,
                      "public_metadata": {
                        "plan": "pro"
                      },
                      "private_metadata": {},
                      "unsafe_metadata": {},
                      "created_at": 1714723200000,
                      "updated_at": 1714723200000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/users/count": {
      "get": {
        "operationId": "countUsers",
        "summary": "Count users",
        "description": "Return the total number of users matching the same filter set as\n`listUsers`. Useful for pagination headers and dashboards.\n",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "email_address",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "email"
              }
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_active_at_since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "created_at_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "created_at_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Total count.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "total_count"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "total_count"
                    },
                    "total_count": {
                      "type": "integer",
                      "format": "int64",
                      "minimum": 0
                    }
                  }
                },
                "examples": {
                  "count": {
                    "value": {
                      "object": "total_count",
                      "total_count": 12345
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/v1/users/{user_id}": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "description": "ID of the user.",
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "get": {
        "operationId": "getUser",
        "summary": "Get a user",
        "description": "Fetch a single `User` by ID.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "The user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "user": {
                    "value": {
                      "id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                      "object": "user",
                      "external_id": null,
                      "username": "jane",
                      "first_name": "Jane",
                      "last_name": "Doe",
                      "image_url": null,
                      "has_image": false,
                      "primary_email_address_id": "idn_01HKX9SY9V7H7TF8C8K7J9X4ZE",
                      "primary_phone_number_id": null,
                      "email_addresses": [
                        {
                          "id": "idn_01HKX9SY9V7H7TF8C8K7J9X4ZE",
                          "object": "email_address",
                          "email_address": "jane@acme.com",
                          "verified": true,
                          "current_challenge_id": null,
                          "linked_to": [],
                          "reserved": false,
                          "created_at": 1714723200000,
                          "updated_at": 1714723260000
                        }
                      ],
                      "phone_numbers": [],
                      "external_accounts": [],
                      "enterprise_accounts": [],
                      "passkeys": [],
                      "password_enabled": true,
                      "two_factor_enabled": false,
                      "totp_enabled": false,
                      "backup_code_enabled": false,
                      "mfa_enabled_at": null,
                      "mfa_disabled_at": null,
                      "banned": false,
                      "locked": false,
                      "lockout_expires_at": null,
                      "last_sign_in_at": 1714809600000,
                      "last_active_at": 1714895999000,
                      "delete_self_enabled": true,
                      "locale": "en-US",
                      "public_metadata": {
                        "plan": "pro"
                      },
                      "private_metadata": {},
                      "unsafe_metadata": {},
                      "created_at": 1714723200000,
                      "updated_at": 1714895999000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "patch": {
        "operationId": "updateUser",
        "summary": "Update a user",
        "description": "Partial update. Only the fields you send are touched; nullable\nfields can be cleared by sending `null`.\n",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRequest"
              },
              "examples": {
                "rename": {
                  "summary": "Rename + update public metadata",
                  "value": {
                    "first_name": "Janet",
                    "public_metadata": {
                      "plan": "enterprise"
                    }
                  }
                },
                "rotate_password": {
                  "summary": "Force a password rotation and revoke other sessions",
                  "value": {
                    "password": "tr0ub4dor &3",
                    "sign_out_of_other_sessions": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete a user",
        "description": "Permanently delete the user, all their identifiers, sessions, and\nmetadata. Emits `user.deleted`.\n",
        "tags": [
          "Users"
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/users/{user_id}/ban": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "banUser",
        "summary": "Ban a user",
        "description": "Permanently block a user from authenticating. Existing sessions are\nrevoked. Idempotent: banning an already-banned user is a no-op.\n",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "The banned user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/users/{user_id}/unban": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "unbanUser",
        "summary": "Unban a user",
        "description": "Lift a previous ban. Idempotent: unbanning a non-banned user is a no-op.\n",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "The unbanned user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/users/{user_id}/lock": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "lockUser",
        "summary": "Lock a user",
        "description": "Temporarily prevent the user from authenticating. Honors the\nenvironment-level `max_lockout_duration` setting.\n",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "The locked user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/users/{user_id}/unlock": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "unlockUser",
        "summary": "Unlock a user",
        "description": "Lift a temporary lockout. Idempotent.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "The unlocked user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/users/{user_id}/profile-image": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "uploadUserProfileImage",
        "summary": "Upload a profile image",
        "description": "Upload a new profile image for the user. Replaces the existing\nimage, if any. Maximum 10 MiB; allowed content types: `image/png`,\n`image/jpeg`, `image/webp`, `image/gif`.\n",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "additionalProperties": false,
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Raw image bytes."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user with the new `image_url` populated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "description": "Image larger than the per-environment limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported image content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteUserProfileImage",
        "summary": "Delete a profile image",
        "description": "Remove the profile image and clear `image_url`. Idempotent.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "The user with `image_url = null`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/users/{user_id}/metadata": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "patch": {
        "operationId": "updateUserMetadata",
        "summary": "Patch user metadata",
        "description": "Shallow-merge the supplied metadata buckets into the user. To clear\na key, send it with `null`. Top-level buckets you don't include are\nleft untouched.\n",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "public_metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  },
                  "private_metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  },
                  "unsafe_metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                }
              },
              "examples": {
                "set_plan": {
                  "summary": "Promote the user to the enterprise plan",
                  "value": {
                    "public_metadata": {
                      "plan": "enterprise"
                    },
                    "private_metadata": {
                      "stripe_customer_id": "cus_XXXXX"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user with merged metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/v1/users/{user_id}/verify-password": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "verifyPassword",
        "summary": "Verify a user's password",
        "description": "Server-side password check. Returns `200 { verified: true }` on\nmatch, `200 { verified: false }` on mismatch. Subject to the\nstandard rate-limit bucket; repeated mismatches eventually return\n`429`.\n",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "additionalProperties": false,
                "properties": {
                  "password": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              },
              "examples": {
                "basic": {
                  "value": {
                    "password": "correct horse battery staple"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "verified"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "verified": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "ok": {
                    "value": {
                      "verified": true
                    }
                  },
                  "wrong": {
                    "value": {
                      "verified": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/users/{user_id}/verify-totp": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "verifyTotp",
        "summary": "Verify a user's TOTP code (operator override)",
        "description": "Server-side TOTP check against the user's enrolled `TotpSecret`.\nReturns `200 { verified: true }` on a valid code (within the\n`±1 step` window), `200 { verified: false }` otherwise. Subject to\nthe standard rate-limit bucket; repeated mismatches eventually\nreturn `429`.\n\nUsed by support tooling and SDK callers that need to gate\nsensitive server-side actions on a fresh second-factor proof\nwithout forcing the user back through the FAPI sign-in flow.\nReturns `404` if the user has no enrolled `TotpSecret` and `422`\n(`error_code: mfa_not_enabled`) when the instance has\n`multi_factor.totp.enabled: false`.\n\nThis call does **not** stamp `TotpSecret.verified_at` on its own —\nit's a verification check, not an enrollment confirmation. The\nenrollment confirmation path is the FAPI\n`POST /v1/me/totp/verify` endpoint.\n",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "additionalProperties": false,
                "properties": {
                  "code": {
                    "type": "string",
                    "minLength": 6,
                    "maxLength": 8,
                    "description": "6-digit numeric TOTP from the user's authenticator app."
                  }
                }
              },
              "examples": {
                "basic": {
                  "value": {
                    "code": "542178"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "verified"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "verified": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "ok": {
                    "value": {
                      "verified": true
                    }
                  },
                  "wrong": {
                    "value": {
                      "verified": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/users/{user_id}/mfa": {
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "delete": {
        "operationId": "deleteUserMfa",
        "summary": "Reset a user's MFA (operator override)",
        "description": "Operator-driven MFA reset. Deletes the user's `TotpSecret` (if any)\nplus every unconsumed `BackupCode`, flips\n`User.totp_enabled` / `User.backup_code_enabled` /\n`User.two_factor_enabled` to `false`, and stamps\n`User.mfa_disabled_at`.\n\nUsed by support to recover a user who's lost access to their\nauthenticator and exhausted their backup codes. Idempotent —\ncalling on a user with no MFA enrolled returns the user unchanged.\n\nEmits `auth.mfa.totp_removed` and `auth.mfa.backup_codes_removed`\naudit-log events as appropriate, attributed to the operator.\n",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "The updated `User` after the reset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/email-addresses": {
      "post": {
        "operationId": "createEmailAddress",
        "summary": "Create an email address",
        "description": "Attach a new email address to a user. By default the address is\ncreated unverified and `current_challenge_id` is `null` — the\ncaller follows up with the challenge sub-resource on FAPI to\nverify it. Pass `verified: true` to mint it already verified —\nthe BAPI is privileged.\n",
        "tags": [
          "Email Addresses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailAddressCreateRequest"
              },
              "examples": {
                "self_serve": {
                  "summary": "Add an unverified address (issues a code)",
                  "value": {
                    "user_id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                    "email_address": "jane.alt@acme.com"
                  }
                },
                "server_verified": {
                  "summary": "Add an already-verified address and make it primary",
                  "value": {
                    "user_id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                    "email_address": "jane@acme.com",
                    "verified": true,
                    "primary": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Email address created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailAddress"
                },
                "examples": {
                  "unverified": {
                    "value": {
                      "id": "idn_01HKX9SY9V7H7TF8C8K7J9X4ZE",
                      "object": "email_address",
                      "email_address": "jane.alt@acme.com",
                      "verified": false,
                      "current_challenge_id": null,
                      "linked_to": [],
                      "reserved": false,
                      "created_at": 1714723200000,
                      "updated_at": 1714723200000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/email-addresses/{email_address_id}": {
      "parameters": [
        {
          "name": "email_address_id",
          "in": "path",
          "required": true,
          "description": "ID of the email address.",
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "get": {
        "operationId": "getEmailAddress",
        "summary": "Get an email address",
        "description": "Fetch a single `EmailAddress` by ID.",
        "tags": [
          "Email Addresses"
        ],
        "responses": {
          "200": {
            "description": "The email address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailAddress"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateEmailAddress",
        "summary": "Update an email address",
        "description": "Mark the address verified server-side or promote it to the user's\nprimary address. Sending an empty body is a no-op.\n",
        "tags": [
          "Email Addresses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailAddressUpdateRequest"
              },
              "examples": {
                "promote": {
                  "summary": "Mark verified and make primary",
                  "value": {
                    "verified": true,
                    "primary": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated email address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailAddress"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "deleteEmailAddress",
        "summary": "Delete an email address",
        "description": "Permanently remove the address from the user. The owning user must\nhave at least one other identifier remaining; deleting the only\nidentifier returns `422`.\n",
        "tags": [
          "Email Addresses"
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/v1/sessions": {
      "get": {
        "operationId": "listSessions",
        "summary": "List sessions (BAPI)",
        "description": "Paginated list of every session in the environment. The BAPI view\nis privileged and unscoped to a particular `Client` — use the\n`client_id`, `user_id`, and `status` filters to narrow.\n",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "active",
                "expired",
                "ended",
                "removed",
                "replaced",
                "revoked",
                "abandoned"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Session"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "for_user": {
                    "summary": "Every active session for one user",
                    "value": {
                      "data": [
                        {
                          "id": "sess_01HKX9SY9V7H7TF8C8K7J9X4ZC",
                          "object": "session",
                          "client_id": "clt_01HKX9SY9V7H7TF8C8K7J9X4ZA",
                          "user_id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                          "status": "active",
                          "last_active_at": 1714895999000,
                          "last_active_organization_id": null,
                          "expire_at": 1717487999000,
                          "abandon_at": 1717487999000,
                          "actor": null,
                          "latest_activity": {
                            "id": "sa_01HKX9SY9V7H7TF8C8K7J9X4ZF",
                            "object": "session_activity",
                            "device_type": "desktop",
                            "is_mobile": false,
                            "browser_name": "Chrome",
                            "browser_version": "124.0",
                            "ip_address": "203.0.113.0",
                            "city": "Berlin",
                            "country": "DE"
                          },
                          "created_at": 1714723200000,
                          "updated_at": 1714895999000
                        }
                      ],
                      "total_count": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/v1/sessions/{session_id}": {
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "get": {
        "operationId": "getSession",
        "summary": "Get a session (BAPI)",
        "description": "Fetch one `Session` by ID, irrespective of which `Client` it belongs to.",
        "tags": [
          "Sessions"
        ],
        "responses": {
          "200": {
            "description": "The session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/sessions/{session_id}/revoke": {
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "revokeSession",
        "summary": "Revoke a session (BAPI)",
        "description": "Admin-side revocation. Marks the session `revoked` and immediately\ninvalidates its tokens. Idempotent.\n",
        "tags": [
          "Sessions"
        ],
        "responses": {
          "200": {
            "description": "The revoked session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                },
                "examples": {
                  "revoked": {
                    "value": {
                      "id": "sess_01HKX9SY9V7H7TF8C8K7J9X4ZC",
                      "object": "session",
                      "client_id": "clt_01HKX9SY9V7H7TF8C8K7J9X4ZA",
                      "user_id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                      "status": "revoked",
                      "last_active_at": 1714895999000,
                      "last_active_organization_id": null,
                      "expire_at": 1717487999000,
                      "abandon_at": 1717487999000,
                      "actor": null,
                      "latest_activity": {
                        "id": "sa_01HKX9SY9V7H7TF8C8K7J9X4ZF",
                        "object": "session_activity",
                        "device_type": "desktop",
                        "is_mobile": false,
                        "browser_name": "Chrome",
                        "browser_version": "124.0",
                        "ip_address": "203.0.113.0",
                        "city": "Berlin",
                        "country": "DE"
                      },
                      "created_at": 1714723200000,
                      "updated_at": 1714896500000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/sessions/{session_id}/tokens": {
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "getSessionToken",
        "summary": "Mint a session JWT (BAPI)",
        "description": "Admin-side JWT mint. Same shape as the FAPI variant\n(`getClientSessionToken`) but BAPI-secured: useful for server-side\nrendering pipelines that need to forward a token to a downstream\nservice on behalf of a user.\n",
        "tags": [
          "Sessions"
        ],
        "responses": {
          "200": {
            "description": "The minted token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "jwt"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "token"
                    },
                    "jwt": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "token": {
                    "value": {
                      "object": "token",
                      "jwt": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImpfMTIifQ.eyJzdWIiOiJ1c2VyXzE…"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/sessions/{session_id}/tokens/{template_name}": {
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        },
        {
          "name": "template_name",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{1,64}$"
          }
        }
      ],
      "post": {
        "operationId": "getSessionTokenWithTemplate",
        "summary": "Mint a session JWT with a custom template (BAPI, v0.7)",
        "description": "Admin-side templated token mint. Always returns\n`404 jwt_template_not_found` in v0.1; the templating layer ships in\nv0.7 alongside the IdP role.\n",
        "tags": [
          "Sessions"
        ],
        "responses": {
          "200": {
            "description": "The minted token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "jwt"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "token"
                    },
                    "jwt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/organizations": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List organizations",
        "description": "Return a paginated list of organizations in the environment,\nfilterable by member, free-text query, and creation timestamp.\n",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Sort key prefixed with `+` (ascending, default) or `-`\n(descending). Allowed: `created_at`, `updated_at`,\n`members_count`, `name`.\n",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "+created_at",
                "-members_count"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Free-text substring match against `name` and `slug`.\nCase-insensitive.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter to organizations the given user is a member of.\nRepeat for OR semantics.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "created_at_after",
            "in": "query",
            "description": "Unix ms; only return orgs created strictly after this instant.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "created_at_before",
            "in": "query",
            "description": "Unix ms; only return orgs created strictly before this instant.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of organizations.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Organization"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "page": {
                    "summary": "First page, one organization",
                    "value": {
                      "data": [
                        {
                          "id": "org_01HKX9SY9V7H7TF8C8K7J9X4ZH",
                          "object": "organization",
                          "name": "Acme Inc.",
                          "slug": "acme",
                          "image_url": null,
                          "has_image": false,
                          "members_count": 12,
                          "pending_invitations_count": 3,
                          "max_allowed_memberships": null,
                          "admin_delete_enabled": true,
                          "public_metadata": {
                            "plan": "pro"
                          },
                          "private_metadata": {},
                          "created_by": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                          "created_at": 1714723200000,
                          "updated_at": 1714895999000
                        }
                      ],
                      "total_count": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "operationId": "createOrganization",
        "summary": "Create an organization",
        "description": "Create an `Organization`. The BAPI is privileged: pass\n`created_by` to record the creator (not required, but\nrecommended for audit). FAPI consumers use the\n`/v1/organizations` FAPI variant which fills `created_by`\nautomatically from the calling user.\n",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationCreateRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Create \"Acme Inc.\" with explicit creator",
                  "value": {
                    "name": "Acme Inc.",
                    "slug": "acme",
                    "created_by": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                    "public_metadata": {
                      "plan": "pro"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                },
                "examples": {
                  "created": {
                    "value": {
                      "id": "org_01HKX9SY9V7H7TF8C8K7J9X4ZH",
                      "object": "organization",
                      "name": "Acme Inc.",
                      "slug": "acme",
                      "image_url": null,
                      "has_image": false,
                      "members_count": 1,
                      "pending_invitations_count": 0,
                      "max_allowed_memberships": null,
                      "admin_delete_enabled": true,
                      "public_metadata": {
                        "plan": "pro"
                      },
                      "private_metadata": {},
                      "created_by": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                      "created_at": 1714895999000,
                      "updated_at": 1714895999000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/organizations/{organization_id}": {
      "parameters": [
        {
          "name": "organization_id",
          "in": "path",
          "required": true,
          "description": "ID of the organization.",
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "get": {
        "operationId": "getOrganization",
        "summary": "Get an organization",
        "description": "Fetch a single `Organization` by ID.",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "The organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                },
                "examples": {
                  "org": {
                    "value": {
                      "id": "org_01HKX9SY9V7H7TF8C8K7J9X4ZH",
                      "object": "organization",
                      "name": "Acme Inc.",
                      "slug": "acme",
                      "image_url": null,
                      "has_image": false,
                      "members_count": 12,
                      "pending_invitations_count": 3,
                      "max_allowed_memberships": null,
                      "admin_delete_enabled": true,
                      "public_metadata": {
                        "plan": "pro"
                      },
                      "private_metadata": {},
                      "created_by": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                      "created_at": 1714723200000,
                      "updated_at": 1714895999000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "patch": {
        "operationId": "updateOrganization",
        "summary": "Update an organization",
        "description": "Partial update. Only the fields you send are touched; nullable\nfields can be cleared by sending `null`.\n",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdateRequest"
              },
              "examples": {
                "rename": {
                  "summary": "Rename + bump max members",
                  "value": {
                    "name": "Acme Corporation",
                    "max_allowed_memberships": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "deleteOrganization",
        "summary": "Delete an organization",
        "description": "Permanently delete the organization, all its memberships,\ninvitations, domains, and metadata. Emits `organization.deleted`.\n",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/memberships": {
      "parameters": [
        {
          "name": "organization_id",
          "in": "path",
          "required": true,
          "description": "ID of the organization.",
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "get": {
        "operationId": "listOrganizationMemberships",
        "summary": "List organization memberships",
        "description": "Paginated list of `OrganizationMembership` rows for the\norganization. `public_user_data` is populated inline so list\nviews don't need a follow-up `getUser`.\n",
        "tags": [
          "Org Memberships"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Sort key prefixed with `+` (ascending, default) or `-`\n(descending). Allowed: `created_at`, `updated_at`,\n`public_user_data.first_name`, `public_user_data.last_name`.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "Filter by role `key`. Repeat for OR semantics.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter by `User.id`. Repeat for OR semantics.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Free-text substring match against the member's identifier,\nfirst name, and last name. Case-insensitive.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of memberships.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/OrganizationMembership"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "admins": {
                    "summary": "Filtered to org:admin members",
                    "value": {
                      "data": [
                        {
                          "id": "orgmem_01HKX9SY9V7H7TF8C8K7J9X4ZJ",
                          "object": "organization_membership",
                          "role": "org:admin",
                          "role_name": "Admin",
                          "permissions": [
                            "org:sys_domains:manage",
                            "org:sys_domains:read",
                            "org:sys_memberships:manage",
                            "org:sys_memberships:read",
                            "org:sys_profile:delete",
                            "org:sys_profile:manage"
                          ],
                          "public_metadata": {},
                          "private_metadata": {},
                          "organization": {
                            "id": "org_01HKX9SY9V7H7TF8C8K7J9X4ZH",
                            "object": "organization",
                            "name": "Acme Inc.",
                            "slug": "acme",
                            "image_url": null,
                            "has_image": false,
                            "members_count": 12,
                            "pending_invitations_count": 3,
                            "max_allowed_memberships": null,
                            "admin_delete_enabled": true,
                            "public_metadata": {
                              "plan": "pro"
                            },
                            "private_metadata": {},
                            "created_by": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                            "created_at": 1714723200000,
                            "updated_at": 1714895999000
                          },
                          "public_user_data": {
                            "first_name": "Jane",
                            "last_name": "Doe",
                            "image_url": null,
                            "has_image": false,
                            "identifier": "jane@acme.com",
                            "user_id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB"
                          },
                          "created_at": 1714723200000,
                          "updated_at": 1714895999000
                        }
                      ],
                      "total_count": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "post": {
        "operationId": "createOrganizationMembership",
        "summary": "Add a member to an organization",
        "description": "Enroll an existing user as a member with the given role. To\nenroll a user who hasn't signed up yet, create an\n`OrganizationInvitation` instead.\n",
        "tags": [
          "Org Memberships"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationMembershipCreateRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Add an existing user as org:member",
                  "value": {
                    "user_id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                    "role": "org:member"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new membership.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembership"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/memberships/{user_id}": {
      "parameters": [
        {
          "name": "organization_id",
          "in": "path",
          "required": true,
          "description": "ID of the organization.",
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        },
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "description": "`User.id` of the member. Memberships are addressed by the\nmember's user ID rather than the membership ID itself, since\na user has at most one membership per organization in v0.2.\n",
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "patch": {
        "operationId": "updateOrganizationMembership",
        "summary": "Change a member's role",
        "description": "Change the role for the user's membership in this organization.\nMetadata edits are permitted alongside the role change.\n",
        "tags": [
          "Org Memberships"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationMembershipUpdateRequest"
              },
              "examples": {
                "promote": {
                  "summary": "Promote to admin",
                  "value": {
                    "role": "org:admin"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated membership.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembership"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "deleteOrganizationMembership",
        "summary": "Remove a member from an organization",
        "description": "Drop the user's membership. Idempotent: removing a non-member\nreturns `404`. Emits `organizationMembership.deleted`.\n",
        "tags": [
          "Org Memberships"
        ],
        "responses": {
          "204": {
            "description": "Removed."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/invitations": {
      "parameters": [
        {
          "name": "organization_id",
          "in": "path",
          "required": true,
          "description": "ID of the organization.",
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "get": {
        "operationId": "listOrganizationInvitations",
        "summary": "List organization invitations",
        "description": "Paginated list of `OrganizationInvitation` rows for the organization.",
        "tags": [
          "Org Invitations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "accepted",
                "revoked",
                "expired"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Free-text match against `email_address`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of invitations.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/OrganizationInvitation"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "post": {
        "operationId": "createOrganizationInvitation",
        "summary": "Create an organization invitation",
        "description": "Mint an invitation tied to this organization. By default an\nemail is sent immediately; set `notify: false` to mint a\nticket without sending.\n",
        "tags": [
          "Org Invitations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationInvitationCreateRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Single invitation as org:member",
                  "value": {
                    "email_address": "jane@acme.com",
                    "role": "org:member",
                    "redirect_url": "https://app.acme.com/welcome"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new invitation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationInvitation"
                },
                "examples": {
                  "created": {
                    "value": {
                      "id": "orginv_01HKX9SY9V7H7TF8C8K7J9X4ZK",
                      "object": "organization_invitation",
                      "organization_id": "org_01HKX9SY9V7H7TF8C8K7J9X4ZH",
                      "email_address": "jane@acme.com",
                      "role": "org:member",
                      "role_name": "Member",
                      "inviter_user_id": "user_01HKX9SY9V7H7TF8C8K7J9X4ZB",
                      "redirect_url": "https://app.acme.com/welcome",
                      "status": "pending",
                      "public_metadata": {},
                      "url": "https://acme.authn.sh/v1/client/handshake?__authn_ticket=tkt_01HKX9SY9V7H7TF8C8K7J9X4ZK&__authn_status=sign_up&__authn_organization_id=org_01HKX9SY9V7H7TF8C8K7J9X4ZH&redirect_url=https%3A%2F%2Fapp.acme.com%2Fwelcome",
                      "expires_at": 1717487999000,
                      "created_at": 1714895999000,
                      "updated_at": 1714895999000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/invitations/bulk": {
      "parameters": [
        {
          "name": "organization_id",
          "in": "path",
          "required": true,
          "description": "ID of the organization.",
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "bulkCreateOrganizationInvitations",
        "summary": "Bulk-create organization invitations",
        "description": "Atomic batch create. If any invitation fails validation the\nentire request is rejected; the response describes the\noffending row(s). Maximum 500 invitations per call.\n",
        "tags": [
          "Org Invitations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationInvitationBulkCreateRequest"
              },
              "examples": {
                "batch": {
                  "summary": "Three invitations in one call",
                  "value": {
                    "invitations": [
                      {
                        "email_address": "jane@acme.com",
                        "role": "org:admin",
                        "redirect_url": "https://app.acme.com/welcome"
                      },
                      {
                        "email_address": "john@acme.com",
                        "role": "org:member"
                      },
                      {
                        "email_address": "kate@acme.com",
                        "role": "org:member",
                        "notify": false,
                        "expires_in_days": 30
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created invitations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "total_count"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrganizationInvitation"
                      }
                    },
                    "total_count": {
                      "type": "integer",
                      "minimum": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/invitations/{invitation_id}/revoke": {
      "parameters": [
        {
          "name": "organization_id",
          "in": "path",
          "required": true,
          "description": "ID of the organization.",
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        },
        {
          "name": "invitation_id",
          "in": "path",
          "required": true,
          "description": "ID of the invitation.",
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "post": {
        "operationId": "revokeOrganizationInvitation",
        "summary": "Revoke an organization invitation",
        "description": "Mark the invitation `revoked` and invalidate its ticket.\nIdempotent: revoking an already-revoked invitation is a no-op.\n",
        "tags": [
          "Org Invitations"
        ],
        "responses": {
          "200": {
            "description": "The revoked invitation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationInvitation"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/domains": {
      "parameters": [
        {
          "name": "organization_id",
          "in": "path",
          "required": true,
          "description": "ID of the organization.",
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "get": {
        "operationId": "listOrganizationDomains",
        "summary": "List organization domains",
        "description": "Paginated list of `OrganizationDomain` rows for the organization.",
        "tags": [
          "Org Domains"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          },
          {
            "name": "verified",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "enrollment_mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "manual_invitation",
                "automatic_invitation",
                "automatic_suggestion"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of domains.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/OrganizationDomain"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createOrganizationDomain",
        "summary": "Add a domain to an organization",
        "description": "Add a new domain. Verification is issued lazily — call\n`POST /v1/organizations/{id}/domains/{domain_id}/challenges` to\nkick off the proof flow.\n",
        "tags": [
          "Org Domains"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationDomainCreateRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Add acme.com",
                  "value": {
                    "name": "acme.com",
                    "enrollment_mode": "automatic_invitation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDomain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/organizations/{organization_id}/domains/{domain_id}": {
      "parameters": [
        {
          "name": "organization_id",
          "in": "path",
          "required": true,
          "description": "ID of the organization.",
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        },
        {
          "name": "domain_id",
          "in": "path",
          "required": true,
          "description": "ID of the domain.",
          "schema": {
            "$ref": "#/components/schemas/Id"
          }
        }
      ],
      "get": {
        "operationId": "getOrganizationDomain",
        "summary": "Get an organization domain",
        "description": "Fetch a single `OrganizationDomain` by ID.",
        "tags": [
          "Org Domains"
        ],
        "responses": {
          "200": {
            "description": "The domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDomain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
[...]
